<html layout:decorate="~{layout}">
<div layout:fragment="content" class="max-w-3xl mx-auto mt-8 space-y-8">

    <!-- 질문 제목 -->
    <div class="border-b border-gray-200 pb-4">
        <h1 class="text-2xl font-bold mb-2" th:text="${question.subject}"></h1>
        <div class="text-gray-800 whitespace-pre-line min-h-40 border border-gray-200 rounded px-4 py-3"
             th:text="${question.content}">
        </div>

    </div>

    <!-- 답변 개수 -->
    <h5 class="text-lg font-semibold"
        th:text="|${#lists.size(question.answers)}개의 답변이 있습니다.|">
    </h5>

    <!-- 답변 목록 -->
    <div class="space-y-3">
        <ul class="space-y-3">
            <li th:each="answer : ${question.answers}"
                class="border border-gray-200 rounded px-4 py-3 bg-gray-50 text-gray-800 whitespace-pre-line"
                th:text="${answer.content}">
            </li>
        </ul>
    </div>

    <!-- 답변 작성 폼 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="space-y-4">
        <div>
            <label for="content" class="block font-semibold mb-2">답변 작성</label>
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <textarea name="content" id="content" rows="8"
                      class="w-full border border-gray-300 rounded px-3 py-2 my-2
                                 focus:outline-none focus:ring-2 focus:ring-blue-500
                                 text-gray-800"></textarea>
        </div>

        <button type="submit"
                class="bg-blue-600 text-white font-semibold px-5 py-2 rounded
                           hover:bg-blue-700">
            답변 등록
        </button>
    </form>

</div>
</html>
